@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Poppins:wght@200;400&display=swap');

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }

  .header {
      height: 110px;
      box-shadow: 0px 1px rgb(231, 227, 227);
  }

  .sub_Header {
      height: 70px;
      margin: 5px 5px 0px 5px;
      background-color: white;
      color: white;
      padding: 10px;
      display: flex;
      justify-content: space-between;
  }

  .sub_header_part1 {
      display: flex;
  }

  .sub_header_part2 {
      display: flex;
      align-items: center;
      padding: 0px 10px;
  }

  .main_logo {
      padding-top: 5px;
  }

  .main_search_bar {
      padding-left: 3.6rem;
      padding-right: 4rem;
  }

  .search_Bar {
      border: 1px solid transparent;
      border-radius: 25px;
      padding: 11px 15px;
      width: 43vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* box-shadow: 0px 2px 2px 0px rgb(240, 240, 240), 0px 2px 2px 0px rgb(216, 216, 216); */
      box-shadow: 0px 1px 3px 1px rgb(226, 225, 225);
  }

  .search_Bar:hover {
      border: 1px solid transparent;
      border-radius: 25px;
      padding: 11px 15px;
      width: 43vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* box-shadow: 0px 2px 2px 0px rgb(229, 229, 229), 0px 2px 2px 0px rgb(216, 216, 216); */
      box-shadow: 0px 1px 3px 1px rgb(201, 200, 200);

  }

  .search_Bar input {
      padding-left: 12px;
      border: 0;
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      width: 34vw;
      color: rgba(77, 81, 86);
      outline: none;
  }

  .main_search_icon {
      display: flex;

  }

  .cross_icon {
      padding: 0px 15px;
      cursor: pointer;
  }

  .search_icon {
      cursor: pointer;
  }

  .main_profile_icon {
      position: relative;
  }

  .day_icon {
      padding: 0px 15px;
      cursor: pointer;
  }

  .profile_Icon {
      color: white;
      background-color: orange;
      padding: 0.6rem 1rem;
      border-radius: 50%;
      cursor: pointer;
      font-family: 'Inter', sans-serif;
  }

  ul {
      display: flex;
      align-items: center;
      margin-left: 11.85rem;
  }

  li {
      display: flex;
      list-style: none;
      padding: 12px 15px;
      font-family: 'Inter', sans-serif;
      cursor: pointer;
      font-size: 16px;
  }

  .links {
    display: flex;
    text-decoration: none;
    color: black;
  }

  .SH2icons {
      margin-right: 10px;
  }

  .sub_header2 {
      height: 40px;
  }


   /* skill section start */


  .skill_Section {
    margin: 40px 170px 1px 175px;
    font-family: 'Inter', sans-serif;
    color: rgb(81, 81, 81);
    font-size: 14px;
  }

  .main_skills1 {
    display: flex;
    justify-content: space-around;
  }

  .javascript {
    border: none;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(255, 221, 0);
  }
  .javascript:hover {
    border: none;
    height: 102px;
    width: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(255, 221, 0);
  }

  .skill_icon {
    height: 46px;
    width: 46px;
    margin-bottom: 10px;
  }

  .jscontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .html {
    border: none;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(255, 153, 0);
  }

  .html:hover {
    border: none;
    height: 102px;
    width: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(255, 153, 0);
  }

  .css {
    border: none;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(0, 170, 255);
  }
  .css:hover {
    border: none;
    height: 102px;
    width: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(0, 170, 255);
  }

  .main_skills2 {
    display: flex;
    padding: 40px 0px 0px 43px;

  }

  .c_lang {
    border: none;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(65, 1, 167);
  }

  .c_lang:hover {
    border: none;
    height: 102px;
    width: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(65, 1, 167);
  }


  .cpp_lang {
    border: none;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(0, 170, 255);
  }

  .cpp_lang:hover {
    border: none;
    height: 102px;
    width: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 3px 8px 1px rgb(0, 170, 255);
  }
