* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sub_Header {
    margin: 5px;
    background-color: transparent;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.search_Bar {
    border: 1px solid rgb(149, 146, 146);
    border-radius: 25px;
    padding: 5px 15px;
    width: 35vw;
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.search_Bar input {
    border: none;
    border-radius: 16px;
}

.profile_Icon {
    color: white;
    background-color: orange;
    padding: 0.8rem 1.2rem;
    border-radius: 50%;

}
